.navbar-dash {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
}

.navbar-dash ul {
    display: flex;
}

.navbar-dash ul li {
    margin: 0 30px;
    font-weight: 500;
    padding: 7px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.navbar-dash ul li:hover {
    background-color: var(--primary-color);
    transform: scale(1.05);
}

.nav-utils button{
    margin: 0 10px;
}

.icon-nav {
    transition: color 0.3s ease, transform 0.3s ease;
}

.icon-nav:hover {
    color: var(--primary-color);
    transform: scale(1.50);
}

