@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
  --primary-color: #FBF4F4;
  --secondary-color: #E8A2A2;
  --tertiary-color: #F2B0B5;   
  --quaternary-color: #F7C4C3;  
  --quinary-color: #D4BCBC;    
  --font-family: 'Inter', sans-serif;
}

body {
  font-family: var(--font-family);
}

.bg-athena {
  background-color: var(--secondary-color);
}


